<!DOCTYPE html>
<html>
<body>
<div><h2>Do you Want to upload a Design?</h2></div>
<div>
<form id="myForm"><h3>
  Select a file to upload:
  <input type="file" id="myFile">
</h3>
</form>
</div>
<div><p></p>
<div><h2>Tell us about what you want? We will help you find your Designs. By clicking the button below you can tell us the description of your designs.</h2></div>
<h3><button>Description</button></h3>
</div>

</body>
</html>